[submodule "avltree"]
	path = avltree
	url = git://github.com/tamuhey/avltree.git
[submodule "memor"]
	path = memor
	url = ./memor
[submodule "acl_cpp"]
	path = acl_cpp
	url = https://github.com/atcoder/ac-library
